---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import { Image } from "astro:assets";
// import TagCloud from "../../components/Tag/TagCloud.astro";
import dayjs from "dayjs";
import Author from "../../components/Author/Author.astro";
import StyledLink from "../../components/StyledLink/StyledLink.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: { post },
    };
  });
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.body} image={post.data.image}>
  <Main>
    <div class="mx-auto mb-24 flex flex-col items-center">
      <div class="w-full max-w-[768px] mx-auto my-32">
        <StyledLink link="/blog" title="Back to all posts" classes="mb-2" before_asset="back"/>
        <h1>{post.data.title}</h1>
        <Author
          author={post.data.author}
          date={dayjs(`${post.data.date}`).locale("en").format("MMMM D, YYYY")}
          image={post.data.image}
          classes="py-8"
        />
      </div>
      <div class="image-noise-wrapper max-w-[1000px]">
        <Image
        src={post.data.image}
        alt=""
        class="rounded-2xl max-h-[500px]"
        />
        <div class="w-[1000px] image-noise"></div>
      </div>
      <div class="max-w-[968px] mx-auto">
        <!-- <div class="flex gap-4 items-center h-[24px] mt-8 max-w-[768px] mx-auto">
          <TagCloud list_data={post.data.categories} />
        </div> -->
        <div class="prose prose-md max-w-[768px] prose-invert mx-auto my-20">
          <Content />
        </div>
      </div>
    </div>
  </Main>
</Layout>
