---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
type Props = {
  post: CollectionEntry<"posts">;
};
const { post } = Astro.props;

---

<article class="w-full h-[380px] p-4 rounded-md blog-item-card">
  <a href={`/blog/${post.slug}`} class="h-[360px] block">
    <Image
      class:list={["object-cover w-full h-[220px] rounded"]}
      src={post.data.image}
      alt={post.data.title}
      height={240}
    />
    <h4 class="mt-4 mb-1 line-clamp-2">{post.data.title}</h4>
    <p class={"line-clamp-3 text-xs"}>{post.body}</p>
  </a>
</article>

<style>
  .blog-item-card {
    background-color: var(--card-color);
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color  0.2s ease-out;
    -o-transition: background-color  0.2s ease-out;
    transition: background-color  0.2s ease-out;
  }
  .blog-item-card:hover {
    background-color: var(--card-color-hover);
  }
</style>
